<h3> User Registrtion</h3>

<form (submit)="onSubmit()">

    <div>

        <label for="name">Name</label>

        <input type="text" name="name" id="name" placeholder="Enter name">

    </div>

    <div>

        <label for="email">Email</label>

        <input type="email" name="email" id="email" placeholder="Enter email">

    </div>

    <div>

        <label for="password">Password</label>

        <input type="password " name="password" id="password"

        placeholder="Enter password">

    </div>

    <div>

        <button types="submit">Submit</button> &nbsp;

        <button type="reset">reset</button>

    </div>



